*, *::before, *::after {
    box-sizing: border-box;
  }
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }

.wrapper {
    max-width: 375px;
    margin: 0 auto;
}


/* Media Queries */

@media screen and (min-width: 1440px) {
	body {
		
	}
    .wrapper {
		
    }
	

	
  }