*, *::before, *::after {
    box-sizing: border-box;
  }
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.wrapper {
    max-width: 375px;
    margin: 0 auto;
}
main {
  background-color: hsl(240, 7%, 97%);
}
.above-fold {
  background-image: url('images/bg-hero-mobile.svg');
  background-size: cover;
  background-color: hsl(193, 100%, 96%);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 650px;
  padding-bottom: 50px;
}
.above-fold h1 {
  font-size: 2rem;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px 0px 10px;
}
.logo-image {
  
}
.logo-image img {
  max-width: 150px;
}
.header-button button{
  background-color: #fff;
  font-weight: bold;
  border: none;
  box-shadow: 5px 5px 10px #888888;
  padding: 6px 20px;
  border-radius: 16px;
}
.get-started-button {
  color: #fff;
  padding: 12px 0;
  border-radius: 26px;
  background-color: hotpink;
  width: 80%;
  border: none;
  box-shadow: 5px 5px 10px #888888;
  margin: 25px 0px 55px 0px;
}
.build-community {
  padding: 0px 24px;
}
.build-community img {
  max-width: 100%;
}
.card {
  background-color: white;
  max-width: 340px;
  border-radius: 12px;
  margin: 0 auto;
  padding: 30px 18px;
  box-shadow: 5px 5px 10px #888888;
}
.card img {
  max-width: 90%;
}
.below-fold {
  display: grid;
  grid-row-gap: 34px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.ready button {
  color: #fff;
  padding: 12px 0;
  border-radius: 26px;
  background-color: hotpink;
  width: 80%;
  border: none;
  box-shadow: 5px 5px 10px #888888;
  margin: 25px 0px 55px 0px;
}
footer {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  text-align: left;
  display: grid;
  
  grid-template-rows: 280px 390px 220px;
  

}
footer section {
  
  padding: 50px 20px;
}
.footer-location {
  display: grid;
  grid-template-columns: 50px 290px;
  grid-template-rows: auto;
  align-items: center;
}
.footer-menu ul {
  list-style-type: none;
}
.footer-menu ul li {
  padding: 12px 0px;
}
footer .bottom {
  font-size: 14px;
  text-align: center;
}



/* Media Queries */

@media screen and (min-width: 1440px) {
	body {
		
	}
    .wrapper {
		
    }
	

	
  }